pretrained/*/*

processed/*.pt
processed/*.json

model/Transformers_VQA_master/models/pretrained/*.pt
model/Transformers_VQA_master/models/pretrained/*.th
model/Transformers_VQA_master/models/pretrained/*.pth

data/*.json
data/*/*

*.pyc

test.py
sh/test.sh

*.err
*.out
*.zip

result/*/*
trained/*